table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ccc;
}

th, td {
    border: 1px solid #ccc;
    padding: 3px;
    font-size: small;
}

th {
    background-color: #f2f2f2;
}

div.actions{
    display: flex;
    flex-direction: row;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.td-cap-lenght {
  max-width: 300px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-view.floatright {
    font-size: 14px;
    color: #fff;
    float: right;
    width: 100px; 
    box-sizing: border-box; 
    margin-bottom: 10px;
  }

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .btn-view,
  .btn-view.floatright,
  .btn-delete {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 50%; 
  }
  
  .btn-view {
    background-color: #007bff;
    color: #fff;
  }
  
  
  .btn-delete {
    background-color: #dc3545;
    color: #fff;
  }
  
  .btn-view:hover,
  .btn-delete:hover {
    opacity: 0.8;
  }
  
  .btn-view:active,
  .btn-delete:active {
    opacity: 0.9;
  }

.popup-wrapper {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .popup-content {
    background-color: #fefeff;
    margin: 3% auto;
    padding: 10px;
    width: 90%;
    max-width: 90%;
    overflow: hidden;
  }

  .popupIframe {
    width: 100%;
    height: 80%;
  }
  
  .close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close-btn:hover,
  .close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="checkbox"] {
    margin-top: 5px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }

  